/* MODAL WINDOW */
.backdrop {
  position: fixed;
  opacity: 1;
  transition: opacity 250ms $timing-function;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $timing-function;

  padding: 40px;
  width: 528px;
  min-width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: $white-color;
}
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;

  &:hover {
    fill: $accent-color;
  }
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $title-text-color;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form-input {
  resize: none;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-icon {
  position: absolute;
  top: 18px;
  left: 15px;
  top: 50%;
}

.form-field:focus-within > .form-input {
  outline-color: $accent-color;
  border: none;
  border-radius: 4px;
}
.form-field:focus-within > .form-icon {
  fill: $accent-color;
}

.comment {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: $primary-text-color;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
}
.checkbox-input:checked + .checkbox-icon {
  background-image: url(../images/SVG-icons/checkbox.svg);
  background-size: contain;
  background-origin: border-box;

  background-color: $accent-color;
  border-color: $accent-color;
}
.checkbox-link {
  color: $accent-color;
  text-decoration: underline;
}

.form-btn {
  position: absolute;
  left: 164px;
  bottom: 40px;
}
